.App .App2 {
  background-color: #d9d9d9;
  /* min-height: 300vh; */
}
.App {
  min-height: 300vh;
}

.App2 {
  min-height: 10vh;
}

.aboutImage {
  width: 35vw;
}

.description {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.descriptionText {
  padding: 70px;
  padding-top: 15px;
  font-size: 1.75rem;
}

.logoImage {
  /* padding-left: 4vw; 
  padding-right: 4vw; */
  position: absolute;
  padding-top: 0vh;
  /* margin-top: 20px; */
  width: 2.5vw;
}

.programmer {
  white-space: nowrap;
  color: #4484ce;
}

.name {
  color: #565656;
}
.leadership {
  color: #f19f4d;
}

.Navigation {
  /* display: flex; */
  padding-top: 2vh;
  margin-top: 0px;
  /* margin-left: 200px; */
  /* text-align: right; */
  /* justify-content: space-around; */
}

.NavLink {
  padding-left: 100px;
  padding-top: 0px;
  margin-top: 20px;
  
  font-size: calc(10px + 2vmin);
  color: #565656 !important;
}

.MainText {
  margin: 0px;
}

.SubText {
  text-align: left;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding-top: 100px;
  /* align-items: left; */
  /* justify-content: center; */

  font-size: calc(10px + 2vmin);
  /* color: #565656; */
  color: #1d2731;
}

.ProjectDisplay {
  text-align: left;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* margin-top: 100px;
  padding-top: 100px; */
  /* align-items: left; */
  /* justify-content: center; */

  font-size: calc(15px + 2vmin);
  /* color: #565656; */
  color: #1d2731;
}

.Projects {
  display: flex;
  flex-direction: row;
}

.DownButton {
  display: flex;
  justify-content: center;
}
.App-header {
  text-align: left;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 20px;
  /* align-items: left; */
  /* justify-content: center; */

  padding-top: 100px;
  font-size: calc(20px + 2vmin);
  /* color: #565656; */
  color: #1d2731;
}
