.App {
  background-color: #d9d9d9;
}



.programmer {
  white-space: nowrap;
  color: #4484CE;
}

.name {
 color: #565656
  
}
.leadership {
  color: #F19F4D;
}

.Navigation {
  display: flex;

  /* text-align: right; */
  justify-content: right;
}

.NavLink {
  padding-right: 50px;
  padding-top: 20px;
  font-size: calc(10px + 2vmin);
  color: #565656 !important;
}

.MainText {
  margin: 0px;
}
.App-header {
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: left; */
  /* justify-content: center; */

  padding-top: 100px;
  font-size: calc(20px + 2vmin);
  /* color: #565656; */
  color: #1D2731;
}
